*.log
obj/
*.o
*.a
*.so
.fun_diff
*.dylib
assets/tmp
run_test
assets/libtests
*~
.DS_Store
/libft-unit-test/
/libft/libftTester/
/libft_tester/
/ft_printf/ft_printf_tester/
/ft_printf/printfTester/
/get_next_line/gnlTester/
temp.c
*.swp
/42kl_gnl_tester/